<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">New Heights</h1>

        <p class="lead">Bible Lessons and Activity Hub</p>

        <div class="container">
            <div class="row">
                <div class="col">Kindergarten & 1st Grade Classroom <a href="kdg.component.html">Enter Here</a></div>
                <div class="col">2nd Grade & 3rd Grade Classroom</div>
                <div class="w-100"></div>
                <div class="col">4th Grade</div>
                <div class="col">5th Grade</div>
            </div>
        </div>

</div>
</div>
